$navbar-default-bg: #E0E0E0;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 1.7em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.center{
    text-align: center;
}
.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.description{
    margin-top: 0px;
}
.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}